<main>
  <mat-toolbar class="header-upper">
    <span style="font-family:'Arial Black'; font-size:16px; color: white;">
      Obst & Gemüse Meier oHG Verwaltung
    </span>
    <span class="example-spacer"></span>
    <button mat-button>
      <img src="../assets/pfeil_links.png">
    </button>
    <button mat-button>
      <img src="../assets/pfeil_rechts.png">
    </button>
  </mat-toolbar>
  <div class="header-lower">
    <button mat-raised-button class="navButton">
      Bestand
    </button>
    <button mat-raised-button class="navButton">
      Produkte
    </button>
    <button mat-raised-button class="navButton">
      Lager
    </button>
    <button mat-raised-button class="navButton">
      Lieferanten
    </button>
    <button mat-raised-button class="navButton">
      Lieferungen
    </button>
    <button mat-raised-button class="navButton">
      Kunden
    </button>
    <button mat-raised-button class="navButton">
      Produzenten
    </button>
    <button mat-raised-button class="navButton">
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <div class="content">
    
  </div>
</main>