main {
    max-width: 900px;
    margin: 0rem auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.header-upper {
    width: 100%;
    background-color: green;
}

.header-lower {
    width: 100%;
    background-color: lightgreen;
    overflow-wrap: break-word;
}

.navButton {
    font-family:Calibri;
    font-size: 16px;
    color: green; /* white wenn im Fenster aktiv */
    background-color: white; /* green wenn im Fenster aktiv */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

div.content{
    width: 100%;
    height: 100vh;
    background-color: white;
}
