<main>
  <mat-toolbar class="header-upper">
    <span style="font-family:'Arial Black'; font-size:16px; color: white;">
      Obst & Gemüse Meier oHG Verwaltung
    </span>
    <span class="example-spacer"></span>
    <button mat-button>
      <img src="../assets/pfeil_links.png">
    </button>
    <button mat-button>
      <img src="../assets/pfeil_rechts.png">
    </button>
  </mat-toolbar>
  <!-- navigation bar, contains buttons that lead to other components (/views) -->
  <div class="header-lower">
    <button mat-raised-button [routerLink]="['/bestand']" routerLinkActive="active-link" class="navButton">
      Bestand
    </button>
    <button mat-raised-button [routerLink]="['/produkte']" routerLinkActive="active-link" class="navButton">
      Produkte
    </button>
    <button mat-raised-button [routerLink]="['/lager']" routerLinkActive="active-link" class="navButton">
      Lager
    </button>
    <button mat-raised-button [routerLink]="['/lieferanten']" routerLinkActive="active-link" class="navButton">
      Lieferanten
    </button>
    <button mat-raised-button [routerLink]="['/lieferungen']" routerLinkActive="active-link" class="navButton">
      Lieferungen
    </button>
    <button mat-raised-button [routerLink]="['/kunden']" routerLinkActive="active-link" class="navButton">
      Kunden
    </button>
    <button mat-raised-button [routerLink]="['/produzenten']" routerLinkActive="active-link" class="navButton">
      Produzenten
    </button>
    <button mat-raised-button [routerLink]="['/informationen']" routerLinkActive="active-link" class="navButton">
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
