<div class="body">
    <!-- filter of the table, lets the user search for a table entry -->
    <mat-form-field class="table-filter">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <!-- input form of the table for adding and modifying entries -->
    <div class="table-input-group">
        <mat-form-field class="table-input">
            <mat-label>Name</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <mat-form-field class="table-input">
            <mat-label>Produzenten-Nr.</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>


        <mat-form-field class="table-input">
            <mat-label>Anschrift</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>


        <mat-form-field class="table-input">
            <mat-label>Ansprechpartner</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    </div>

    <!-- table with content -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <ng-container matColumnDef="Produzenten-Nr.">
            <th mat-header-cell *matHeaderCellDef> Produzenten-Nr. </th>
            <td mat-cell *matCellDef="let element"> {{element.ProduzentenNr}} </td>
        </ng-container>

        <ng-container matColumnDef="Anschrift">
            <th mat-header-cell *matHeaderCellDef> Anschrift </th>
            <td mat-cell *matCellDef="let element"> {{element.Anschrift}} </td>
        </ng-container>

        <ng-container matColumnDef="Ansprechpartner">
            <th mat-header-cell *matHeaderCellDef> Ansprechpartner </th>
            <td mat-cell *matCellDef="let element"> {{element.Ansprechpartner}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <!-- buttons to manipulate entries in the table and see the "Preisliste" -->
    <div class="buttons">
        <button mat-raised-button class="Button">
            Produzent Hinzufügen
        </button>
        <button mat-raised-button class="Button">
            Produzent Bearbeiten
        </button>
        <button mat-raised-button class="Button">
            Produzent Löschen
        </button>
        <button mat-raised-button class="Button">
            Preisliste anzeigen
        </button>
    </div>

</div>

